# Dependency directories
/node_modules/

# Build output
/dist/
build/

# Env files
.env
.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Testing
/coverage/

# Editor and system files
.DS_Store
Thumbs.db

# Vercel/Netlify/Deployment
.vercel/
.netlify/

# Misc
.pnp/
.pnp.js
